{% load static %}
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'favicon-32x32.ico' %}" type="image/png">
<link rel="apple-touch-icon-precomposed" href="{% static 'apple-touch-icon-152x152-precomposed.png' %}" type="image/png" sizes="152x152">
<link rel="apple-touch-icon-precomposed" href="{% static 'apple-touch-icon-152x152-precomposed.png' %}" type="image/png" sizes="120x120">
<link rel="icon" href="{% static 'favicon-googletv.png' %}" sizes="96x96" type="image/png">
