*{
    font-family: "STSong";
    font-size:30px;
}
/* topOfTheWorld */
#topOfTheWorld{
    width:100%;
    left:0px;
    top:0px;
    position:fixed;
    background-color: white;
}
#naviBar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.naviLink{
    float:left;
}
.naviRLink{
    float:right;
}
.topA{
    text-decoration: none;
    font-size:30px;
    display:block;
    padding:15px;
    color:rgb(55, 89, 152);
}
.topA:hover{
    color:rgb(91, 130, 202);
    border-bottom: 2px rgb(91, 130, 202) solid;
}
/* endOfTheWorld */
#word{
    font-size: 60px;
    text-align: center;
    margin-top: 80px;
}
#formWrap{
    display: none;
    margin-left:10px;
}
a{
    text-decoration: none;
}
.explanationItem{
    float:left;
    padding:10px;
}
.explanationWrap{
    overflow:hidden;/* 撑开这个div */
}
.explanationWrap:hover{
    background-color: rgb(223, 240, 255);
}
.explanationOption{
    float:right;
    color:rgb(55, 89, 152);
    padding:10px;
}
.editSentence,#addExplanation .explanationItem{
    /* 编辑例句 添加义项 */
    color:rgb(55, 89, 152);
}
.editSentence:hover, #addExplanation .explanationItem:hover, .explanationOption:hover{
    /* 编辑例句 添加义项 修改 删除 */
    color: rgb(91, 130, 202);
}
.deleteConf{
    display:none;
}
select{
    font-size: 25px;
}
.checkboxInput{
    height:25px;
    width:25px;
}
.textInput{
    font-size:25px;
    height:30px;
}
.darkButton{
    border:none;
    padding:7px 3px 3px 3px;
    /* float:left; */
    width:49%;
    color: rgb(55, 89, 152);
    background-color: rgb(223, 240, 255);
    /* box-sizing:border-box; */
    text-align:center;
}
.darkButton:hover{
    color:rgb(91, 130, 202);
}