*{
    font-family: "STSong";
}
/* topOfTheWorld */
#topOfTheWorld{
    width:100%;
    left:0px;
    top:0px;
    position:fixed;
    background-color: white;
}
#naviBar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.naviLink{
    float:left;
}
.naviRLink{
    float:right;
}
.topA{
    text-decoration: none;
    font-size:30px;
    display:block;
    padding:15px;
    color:rgb(55, 89, 152);
}
.topA:hover{
    color:rgb(91, 130, 202);
    border-bottom: 2px rgb(91, 130, 202) solid;
}
/* endOfTheWorld */
#word{
    font-size: 60px;
    text-align: center;
    margin-top: 80px;
}
.explanation{
    font-size:40px;
}
.sentence{
    margin-left:40px;
    font-size:25px;
    line-height: 1.7;
}
.highlight{
    /* color:rgb(55, 89, 152); */
    position: relative;
}
.highlight:before{
    content: "·";
    position: absolute;
    top: 10px;
    left: 0px;
}
#notFoundInfo{
    font-size:30px;
}