a{
	text-decoration: none;
	text-decoration-color: none;
}
input[type=radio] {
    color: blue;
    margin: 0 0 0 0;
    border-color: #409EFF;
    background: #FFF;
    transform: scale(1.5);
}

#a1{
	font-family: YouYuan;
}
#a11,#a12{
	padding: 5px;
	border-radius: 3px;
}
#a11:link,#a12:link{color: grey;}
#a11:visited,#a12:visited{color: grey;}
#a11:hover,#a12:hover{box-shadow: 0px 0px 10px black;border-bottom: solid #3C80C4;}
#cnt{
	float: right;
	font-family: SanFrancisco;
	font-size: 40px;
	margin-top: 10px;
	margin-right: 20px;
	font-style: italic;
	color: lightgrey;
}
.highlight{
        position: relative;
}
.highlight:before{
        content:"·";
        position: absolute;
        top: 12px;
        left: 8px;
        transform: scale(1.6)
}

#a2{
	margin: 0 auto;
	margin-left: 280px;
	margin-right: 300px;
	height: 600px;
	margin-top: 40px;
	padding-top: 20px;
	padding-left: 20px;
	border: solid lightgrey;
}
#type{
	font-size: 30px;
	margin-bottom: 40px;
}
#qst{
}
#a21,#a22,#a23{
	display: inline-block;
}
#a23{
	width: 30px;
}
#a21,#a22{
	width: 340px;
}
#A,#B,#C,#D{
	height: 40px;
}
#a24 {
	padding-top:3px;
	border:1px solid #FFFFFF;
	color:#FFFFFF;
	margin-left: 20px;
	margin-top: 20px;
	font-size:14px;
	transform: scale(1.5);
	background-color: #5E72A2;
}
#a24:hover{
	background-color: darkslateblue;
}

#a3{
	margin: 0 auto;
	margin-top: 40px;
	margin-left: 300px;
	margin-right: 300px;
}
#a31{
	color: red;
}

#a4{
	margin: 0 auto;
	text-align: center;
	margin-top: 80px;
}
#a41{
	margin-right: 20px;
}
#a42{
	margin-left: 20px;
}
#a41:hover,#a42:hover{
	font-weight: bold;
}

#a5{
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 20px;
}
#a51,#a52{
	display: inline-block;
	color: #1FD29F;
}
