<!DOCTYPE html>
<html>
    <head >
        {% load static %}
        <meta charset="UTF-8" />
        <title>文言文答题</title>
        <link rel="shortcut icon" href="{% static 'wenyan/img/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{% static 'wenyan/fp_hy.css' %}">
        <style type="text/css">
            a:hover{font-weight: bold;}
        </style>
    </head>
    <body >
        <div id="a1">
            <div id="a1">
                <a href="{% url 'index' %}" title="关于我们" id="a11">主页</a>
                <a href="{% url 'wenyan:index' %}" title="来学文言文吧" id="a11">字典</a>
                <a href="{% url 'wenyan:contest_mp' %}" title="简洁一点(*^▽^*)" id="a12">养眼</a>
            </div>
        </div>
        <div id="transbox">
            <div id="a2">
                <b>文言文答题模块</b>
            </div>
            <div id="a3">
                <!--<a href="https://www.baidu.com/" title="开始答题！">开始答题</a>-->
	        本功能暂未开放哦<br>(～﹃～)~zZ
            </div>
            <div id="a4">
                <!--<a href="https://www.baidu.com/" title="练习一下吧(～￣▽￣)～">自由练习</a>-->
            </div>
        </div>
    </body>
</html>
