<!DOCTYPE html>
<html>
    <head >
        <meta charset="UTF-8" />
        <title>文言文答题</title>
        <link rel="stylesheet" type="text/css" href="tp1.css">
    </head>
    <body >
        <div id="a1">
            <a href="frontpage.html" title="来学文言文吧" id="a11">字典</a>
            <a href="frontpage.html" title="休息一会儿" id="a12">退出</a>
            <div id="cnt">1/10</div>
        </div>
        <div id="a2">
            <div id="type">单项选择题：</div>
            <p id="qst">下列句子下列句子下列句子下列句子下列句子下列句子下列句子下列句子下列:</p>
            <p id="txt">文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文</p>
            <form>
                <label><div id="A"><div id="a23">A.</div><div id="a21">外币外币外币挖鼻挖币外币外币</div><div id="a22">111</div><input type="radio" name="ques" value="A" class="liRight" /></div></label>
                <label><div id="B"><div id="a23">B.</div><div id="a21">外币瓦布</div><div id="a22">111</div><input type="radio" name="ques" value="B" class="liRight" /></div></label>
                <label><div id="C"><div id="a23">C.</div><div id="a21">如阿如阿若</div><div id="a22">111</div><input type="radio" name="ques" value="C" class="liRight" /></div></label>
                <label><div id="D"><div id="a23">D.</div><div id="a21">are you</div><div id="a22">goodmalasiya</div><input type="radio" name="ques" value="D" class="liRight" /></div></label>
                <input type="submit" value="确认" id="a24" />
            </form>
        </div>
        <div id="a4">
            <a href="TestPage2.html" id="a41">上一题</a>
            <a href="TestPage2.html" id="a42">下一题</a>
        </div>
    </body>
</html>